body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

.audio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 400px;
    background-color: #ffffff92;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.playlist {
    margin-top: 20px;
}

#playlist li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 5px;
    width: 40%;
    padding: 5px;
    border-radius: 4px;
}

#playlist li:hover {
    background-color: #ddd;
}
#playlist li.highlight {
    background-color: #41414175;
}